{{#posts}}
    <section class = "post">
        <header class = "post__head">
            <img class = "post__head-logo" src="{{logo}}">
            <section class ="post__head-title">
                <h4 class="post__head-author">{{author}}</h4>
                <p class="post__head-time">{{time}}</p>
            </section>
        </header>

        <section class = "post__body">
            <p class="post__body-text">{{text}}</p>
            <img class="post__body-image" src="{{image}}">
        </section>

        <footer class="post__footer" id="post__footer">

        </footer>
    </section>
{{/posts}}