{{#posts}}
    <section class = "post">
        <header class = "post__head">
            <img class = "post__logo" src="{{logo}}">
            <section class ="post__title">
                <h4>{{author}}</h4>
                <p>{{time}}</p>
            </section>
        </header>

        <section class = "post__body">
            <p class="post__text">{{text}}</p>
            <img class="post__image" src="{{image}}">
        </section>

    </section>
{{/posts}}