<div class="facebook-chat">
    <header class="chat-header">
        {{#chat-header}}
            <span class="chat-header__user-status">{{user-status}}</span>
            <h4 class="chat-header__username">{{username}}</h4>
            <form class="chat-header__form">
                <button class="chat-header__button chat-header__button_add">{{buttons.[0]}}</button>
                <button class="chat-header__button chat-header__button_video">{{buttons.[1]}}</button>
                <button class="chat-header__button chat-header__button_settings">{{buttons.[2]}}</button>
                <button class="chat-header__button chat-header__button_close">{{buttons.[3]}}</button>
            </form>
        {{/chat-header}}
    </header>
    <main class="chat-messages">
        {{#chat-messages}}
        <div class="user-message user-message_separate">
            <a class="user-message__photo" href="#">{{photo}}</a>
            <span class="user-message__text">{{messages.[0]}}</span>
        </div>
        <time datetime="2018-03-12" class="chat-messages__message-time">{{time}}</time>
        <div class="user-message user-message_separate">
            <a class="user-message__photo" href="#">{{photo}}</a>
            <span class="user-message__text">{{messages.[1]}}</span>
        </div>
        <div class="user-message-group user-message-group_my-messages">

            <div class="user-message user-message_my-message">
                <span class="user-message__text user-message__text_my-message">{{messages.[2]}}</span>
            </div>
            <div class="user-message user-message_my-message">
                <span class="user-message__text user-message__text_my-message">{{messages.[3]}}</span>
            </div>
        </div>
        <div class="user-message-group">
            <div class="user-message">
                <a class="user-message__photo" href="#">{{photo}}</a>
                <span class="user-message__text">{{messages.[4]}}</span>
            </div>
            <div class="user-message">
                <a class="user-message__photo" href="#">{{photo}}</a>
                <span class="user-message__text ">{{messages.[5]}}</span>
            </div>
        </div>
        {{/chat-messages}}
    </main>
    <form class="user-text-field">
        {{#user-text-field}}
            <input class="user-text-field__inputs" placeholder="Type a message...">
            <button class="user-text-field__button user-text-field__button_images">{{buttons.[0]}}</button>
            <button class="user-text-field__button user-text-field__button_gif">{{buttons.[1]}}</button>
            <button class="user-text-field__button user-text-field__button_emodji">{{buttons.[2]}}</button>
            <button class="user-text-field__button user-text-field__button_calendar">{{buttons.[3]}}</button>
            <button class="user-text-field__button user-text-field__button_photo">{{buttons.[4]}}</button>
        {{/user-text-field}}
    </form>
</div>