<header class="facebook-header">
    {{#main-header}}
    <nav class="facebook-header__navigation">
        <a class="facebook-header__logo" href="#">{{logo}}</a><!--
         --><form action="/" class="facebook-header__search"><!--
            --><input class="facebook-header__search_search-field" type="text" placeholder="Search mail" name="search"/><!--
            --><button class="facebook-header__search_search-button" type="submit">{{search}}</button><!--
        --></form><!--
        --><ul class="facebook-header__menu">
        <li class="facebook-header__menu-element">
            <a href="#">{{links.[0]}}</a>
        </li>
        <li class="facebook-header__menu-element">
            <a href="#">{{links.[1]}}</a>
        </li>
        <li class="facebook-header__menu-element">
            <button class="menu-element__button_no-style">{{buttons.[0]}}</button>
        </li>
        <li class="facebook-header__menu-element">
            <button class="menu-element__button menu-element__button_friends">{{buttons.[1]}}</button>
            <button class="menu-element__button menu-element__button_messages">{{buttons.[2]}}</button>
            <button class="menu-element__button menu-element__button_notifications">{{buttons.[3]}}</button>
        </li>
        <li class="facebook-header__menu-element">
            <button class="menu-element__button menu-element__button_quick-help">{{buttons.[4]}}</button>
            <button class="menu-element__button menu-element__button_submenu">{{buttons.[5]}}</button>
        </li>
    </ul>
    </nav>
    {{/main-header}}
</header>

<main class="facebook-content">
    <nav class="page-navigation">
        {{#page-navigation}}
        <ul class="page-navigation__element-list">
            <li class="page-navigation__element page-navigation__element_link">
                <a href="#" class="page-navigation__element-content">{{links.[0]}}</a>
            </li>
            <li class="page-navigation__element page-navigation__element_active">
                <a href="#" class="page-navigation__element-content">{{links.[1]}}</a>
            </li>
            <li class="page-navigation__element page-navigation__element_link">
                <a href="#" class="page-navigation__element-content">{{links.[2]}}</a>
            </li>
            <li class="page-navigation__element">
                <h5 class="page-navigation__element-title">{{titles.[0]}}</h5>
            </li>
            <li class="page-navigation__element page-navigation__element_link">
                <a href="#" class="page-navigation__element-content">{{links.[3]}}</a>
            </li>
            <li class="page-navigation__element">
                <h5 class="page-navigation__element-title">{{titles.[1]}}</h5>
            </li>
            <li class="page-navigation__element page-navigation__element_link">
                <a href="#" class="page-navigation__element-content">{{links.[5]}}</a>
            </li>
            <li class="page-navigation__element page-navigation__element_link">
                <a href="#" class="page-navigation__element-content">{{links.[6]}}</a>
            </li>
            <li class="page-navigation__element page-navigation__element_link">
                <a href="#" class="page-navigation__element-content">{{links.[7]}}</a>
            </li>
            <li class="page-navigation__element page-navigation__element_link">
                <a href="#" class="page-navigation__element-content">{{links.[8]}}</a>
            </li>
            <li class="page-navigation__element page-navigation__element_link">
                <a href="#" class="page-navigation__element-content">{{links.[9]}}</a>
            </li>
        </ul>
        {{/page-navigation}}
    </nav>
    <section class="feed">
        <form class="make-post">
            {{#make-post-content}}
                <header class="make-post__header">
                    <button class="make-post__header__button make-post__header__button_make">{{header-buttons.[0]}}</button>
                    <button class="make-post__header__button make-post__header__button_photo">{{header-buttons.[1]}}</button>
                    <button class="make-post__header__button make-post__header__button_live">{{header-buttons.[2]}}</button>
                </header>
                <textarea class="make-post__user-text" placeholder="What`s on your mind user?">
                </textarea>
                <form class="make-post__additional-options">
                    {{#additional-options}}
                        <button class="additional-options__button">{{.}}</button>
                    {{/additional-options}}
                </form>
            {{/make-post-content}}
        </form>
        {{#friend-post}}
        <article class="friend-post">
                <address class="friend-post__info">
                    <a class="friend-post__user-link" href="#">{{user}}</a>
                    <p class="friend-post__post-time" style="margin: 0"><time datetime="2018-10-30">{{time}}</time></p>
                </address>
                <h5 class="friend-post__title">{{post-title}}</h5>
                <p class="friend-post__other-illustration">
                    <img class="friend-post__other-illustration_image" alt="happy friends" src="images/post1.jpeg" style="width: 100%"/>
                </p>
                <form class="friend-post__additional-options">
                    <button class="additional-options__button additional-options__button_like">{{additional-options.[0]}}</button>
                    <button class="additional-options__button additional-options__button_comment">{{additional-options.[1]}}</button>
                    <button class="additional-options__button additional-options__button_share">{{additional-options.[2]}}</button>
                </form>
        </article>
        {{/friend-post}}
    </section>

    <aside class="more-events">
        <section class="stories more-events__block">
            {{#stories}}
                <h3 class="stories__title more-events__title">
                    <a href="#" class="stories__title_link">{{title}}</a>
                </h3>
                <form class="stories__form">
                    <a href="" class="form__content more-events__watch-all">{{more-options.[0]}}</a>
                    <button class="form__content more-events__watch-all">{{more-options.[1]}}</button>
                </form>
                <ul class="stories__add-story">
                    <li>
                        <button class="add_story__button_plus">{{add-story.[0]}}</button>
                        <button class="add_story__button_text">{{add-story.[1]}}</button>
                        <p class="add_story__description">{{description}}</p>
                    </li>
                </ul>
            {{/stories}}
        </section>
        <section class="event-list more-events__block">
            {{#event-list}}
                <button class="event-list__watch-events more-events__watch-all">
                    <i class="event-list__icon"></i>{{button}}<time class="event-list__time">{{time}}</time>
                </button>
            {{/event-list}}
        </section>
        <section class="friend-requests more-events__block">
            {{#friend-request}}
                <h5 class="friend-requests__title more-events__title">{{title}}</h5>
                <a class="friend-requests__all-requests more-events__watch-all" href="#">{{other-option}}</a>
                <ul class="friend-requests__requests-list">
                    {{#request}}
                        <li class="request">
                            <a class="requests__user-image">{{image}}</a>
                            <a class="requests__user-name">{{name}}</a>
                            <p class="requests__other-info">{{other-info}}</p>
                            <button class="requests__confirm-friend">{{confirm}}</button>
                        </li>
                    {{/request}}
                </ul>
            {{/friend-request}}
        </section>
        <section class="suggested more-events__block">
            {{#suggested}}
                <h5 class="suggested__title more-events__title">{{title}}</h5>
                <a href="#" class="suggested__watch-all more-events__watch-all">{{other-option}}</a>
                <article class="suggested__page">
                    {{#page}}
                        <header class="suggested__page-info">{{info}}</header>
                        <main class="suggested__page-content">
                            <a href="#" class="suggested__page-image">{{image}}</a>
                            <button class="suggested__page-link">{{link}}</button>
                            <p class="suggested__page-info">{{description}}</p>
                            <a href="#" class="suggested__page-poster">{{poster}}</a>
                        </main>
                        <form>
                            <button class="suggested__page-like">{{like}}</button>
                        </form>
                    {{/page}}
                </article>
            {{/suggested}}
        </section>
        <section class="lang-bar more-events__block">
            {{#lang-bar}}
                <ul class="lang-bar__languages">
                    <li class="lang-bar__language">
                        <button class="lang-bar__language-button lang-bar__language-button_active">{{active-button}}</button>
                    </li>
                    {{#buttons}}
                        <li class="lang-bar__language">
                            <button class="lang-bar__language-button">{{.}}</button>
                        </li>
                    {{/buttons}}
                </ul>
            {{/lang-bar}}
        </section>

        <footer class="other-settings more-events__block">
            {{#other-settings}}
                <ul class="other-settings__list">
                    {{#links}}
                        <li class="other-settings__option">
                            <a href="#" class="other-settings__option-link">{{.}}</a>
                        </li>
                    {{/links}}
                </ul>
            {{/other-settings}}
        </footer>
    </aside>
</main>