<header class="main_hdr">
    <button>Menu</button>
    <button id="logo_btn"><img src="images/logo_gmail_lockup_default_1x.png"></button>
    <button>search</button>
    <input id="main_src" placeholder="Search mail">
    <button>expand_more</button>
    <button>apps</button>
    <button>notifications_none</button>
</header>
<aside class="left-menu">
    <button id="compose_button">Compose</button>
    {{#menu_navigation}}
        {{#button}}
            <button class="left-menu__link">{{&.}}</button>
        {{/button}}
    {{/menu_navigation}}
    <hr color="#f5f5f5">
    <button>Mark</button>
    <hr color="#f5f5f5">
</aside>
<main class="mails">
    <section class="mails__navigation">
        {{#mails_navigation}}
            <button class="mails__mail__button"><img src="images/{{.}}"></button>
        {{/mails_navigation}}
    </section>
    {{#mails}}
        <section class="mails__mail">
            {{#buttons}}
                <button class="mails__mail__button"><img src="images/{{.}}"></button>
            {{/buttons}}
            <h4 class="mails__mail__title">{{title}}</h4>
            <p class="mails_mail__description">{{description}}</p>
            <h5 class="mails__mail__time">{{date}}</h5>
        </section>
    {{/mails}}
</main>
<aside class="right-menu">
    {{#right-menu}}
        <a href="#" class="right-menu__buttons"><img src="images/{{.}}"></a>
    {{/right-menu}}
</aside>
